* {
  margin: 0;
  padding: 0;
  background-color: darkslategrey;
}

.container {
    display: grid;
    width: 500px;
    height: 500px;
    position: absolute;
    background-color: white;
}
.square-div {
  transition: 0.3s;
  cursor: pointer;
}
